/* Font import: Atkinson Hyperlegible */

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('/css/animations.css');






/* Declare some helpful global variables */
:root {
	--background: rgb(255,255,255,255);			/* var(--background) */
	--text-color: #000000;			/* var(--text-color) */
	--link-color: #000000;			/* var(--link-color) */
	--clicked-link-color: #494969;	/* var(--clicked-link-color) */
}




/* Root-level Styling */

html {
	font-family: 'Atkinson Hyperlegible', 'Arial', 'Helvetica', sans-serif;
	background-color: var(--background);
	color: var(--text-color);
	font-size: 16px
}

body {
	margin-left: 16px;
	margin-right: 16px;
}

body div#content {
	position: relative;
	top: 3em;
	margin-left: 40px;
	margin-right: 40px;
	min-width: 0px;
	overflow: auto;
}

@media only screen and (max-width: 600px) {
	body div#content {
		margin-left: 0px;
		margin-right: 0px;
	}
}

body div#content h1 {
	margin-top: 1em;
	margin-bottom: .7em;
}

body div#content h2 {
	margin-top: 1.3em;
	margin-bottom: .7em;
}

body div#content h3 {
	margin-top: 1.3em;
	margin-bottom: .7em;
}

body div#content h4 {
	margin-top: 1.3em;
	margin-bottom: .7em;
}

body div#content h5 {
	margin-top: 1.3em;
	margin-bottom: .7em;
}

body div#content h6 {
	margin-top: 1.3em;
	margin-bottom: .7em;
}

a.no-hover:hover {
	text-decoration: none !important;
}

a.no-visited:visited {
	color: var(--text-color);
}




/* Page Header Styling */
/* these must be absolute, because most defaults are zero */
div#large-header {
	display: block;
	position: fixed;
	top: 0px;
	height: 1.5em;
	z-index: 1;
	padding-top: 16px;
	padding-bottom: 16px;
	width: calc(100% - (16px * 2));
	background-color: var(--background);
	opacity: 100%;
}

div#large-header * {
	margin-top: 0px;
	margin-bottom: 0px;
}

div#large-header p.site-title, div#large-header div.items, div#large-header div.items .header-item {
	display: inline-block;
}

div#large-header p.site-title {
	font-weight: bold;
}

div#large-header div.items {
	float: right;
}

div#large-header div.items .header-item {
	padding-left: 1em;
}

div#large-header div.dropdown {
	height: 27px;
	z-index: 0px;
}

div#large-header .dropdown-title {
	font-weight: bold;
	text-decoration: none;
}

div#large-header div.items div.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1000 !important;
	background-color: var(--background);
	opacity: 100%;
	padding: 1em;
	width: fit-content;
	float: left;
	border: 1px solid #000000;
	border-top-width: 2px;
	padding: 8px 10px 8px 10px;
	margin-top: 6.5px;
}

div#large-header div.items div.dropdown:hover div.dropdown-content {
	display: block;
	overflow: hidden;
}

div#large-header div.items div.dropdown:hover div.dropdown-title {
	text-decoration: underline;
}

div#large-header div.items div.dropdown div.dropdown-content:hover {
	display: block;
	overflow: hidden;
}

div#large-header a {
	text-decoration: none;
}

div#large-header a:hover {
	text-decoration: underline;
}

div#large-header hr {
	z-index: 1;
	border: 1px solid #000000;
	margin-top: 6px;
	width: 100%;
}

#large-header a:visited {
	color: var(--text-color)
}


/* Small header */

div#small-header {
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	height: 1.5em;
	z-index: 3;
	padding-top: 16px;
	padding-bottom: 16px;
	width: calc(100% - (16px * 2));
	background-color: var(--background);
	opacity: 100%;
	overflow: hidden;
}

div#small-header * {
	margin-top: 0px;
	margin-bottom: 0px;
}

div#small-header .site-title {
	font-weight: bold;
	padding: 0px;
}

#small-header .site-title * {
	text-decoration: none !important;
}

div#small-header hr {
	border: 1px solid #000000;
	margin-top: 6px;
}

div#small-header .site-title, div#small-header #menu-icon {
	display: inline-block;
}

#menu-icon {
	float: right;
	width: 16px;
	height: 16px;
	padding: 2.5px 0px 2.5px 0px;
}

#nav-menu {
	display: none;
	position: relative;
	top: 3em;
	background-color: var(--background);
	opacity: 100%;
	z-index: 5;
	overflow: auto;
}

#nav-menu {
	margin-top: 6px;
	z-index: 2;
}

#nav-menu * {
	margin-top: 0px;
	margin-bottom: 0px;
}

#nav-menu .header-item {
	margin-bottom: 16px;
}

#nav-menu .dropdown-title {
	font-weight: bold;
	text-decoration: none;
}

#nav-menu .dropdown-title:hover {
	text-decoration: none;
}

#nav-menu .dropdown-content {
	margin-left: 16px;
	display: none;
}

#nav-menu a {
	text-decoration: underline;
}

#nav-menu a:hover {
	text-decoration: none;
}

#nav-menu *:visited {
	color: var(--text-color)
}



@media only screen and ((max-width: 600px) or (max-height: 400px)) {
	div#large-header {
		animation-name: hide-navbar;
		animation-duration: 1000ms;
		display: none;
	}

	div#small-header {
		animation-name: show-navbar;
		animation-duration: 1s;
		display: block;
	}
}







/* Footer Styling */
/*  Many of these sizes are absolute, because they are dependent on the size
	of the image in the right column, which is absolute.					  */

footer {
	font-size: 11px;
	margin-top: 40px;
}

footer * {
	background-color: var(--background);
	color: var(--text-color);
}

footer table {
	width: 100%;
	background-color: var(--background);
	border-collapse: collapse;
	border-color: transparent;
	color: var(--text-color);
	border-width: 0px;
}

footer table td, footer table th {
	border-color: transparent;
	padding: 0px;
	padding-top: 3px;
	padding-bottom: 4px;
	width: 50%;
}

#footer-left {
	text-align: left;
	/* This sets the width of the left column to the width of the window (100%) minus the width of the CC image (66px) */
	width: calc(100% - 66px);
}

#footer-right {
	text-align: right;
	float: right;
	padding-top: 10px;
	width: 66px;
}

footer table thead {
	background-color: var(--background);
}

#footer {
	display: block;
}



/* List Styling */

ol li, ul li {
	padding-bottom: 2px;
}

ol.space li, ul.space li {
	padding-bottom: 5px;
}

ol.no-space li, ul.no-space li {
	padding-bottom: initial;
}

div.p-list p {
	margin-bottom: 5px;
}

div.p-list ul, div.p-list ol {
	margin-top: 0px;
}




/* General Styling */

img {
	font-size: 10px;
	max-width: 100%;
	padding: 5px;
}

img.has-attribution {
	padding-bottom: 0px;
}

div.inline div.inline-left, div.inline div.inline-right {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 0px;
}

div.inline {
	margin-bottom: 16px;
	width: 100%;
}

#web-interface-img {
	margin-bottom: 0px;
	margin-left: 16px;
	float: right;
	max-width: 500px;
}

#web-interface-img img {
	padding: 0px;
}

#web-interface-p {
	width: calc(100% - 532px);
	margin-top: 0px;
}

#web-interface-p:last-child * {
	margin-top: 0px;
}

@media only screen and (max-width: 800px) {
	#web-interface-p {
		display: block !important;
	}

	#web-interface-img {
		max-width: 100%;
		margin-bottom: 16px;
		margin-left: 0px;
	}
	
	#web-interface-p {
		width: 100%;
	}
}



p.attribution {	/* use when attributing an image (or something) in a new line */
	font-size: x-small;
	color: grey;
	margin-top: 2px;
	padding-bottom: 10px;
}

p.attribution a {
	color: inherit;
	font-style: italic;
}



a {
	background-color: var(--background);
	color: var(--link-color);
}

a:hover {
	text-decoration: inherit;
}

a:visited {
	color: var(--clicked-link-color);
}



table {
	min-width: 50%;
	background-color: var(--background);
	border-collapse: collapse;
	border-width: 3px;
	border-color: #ffffff;
	border-style: solid;
	color: var(--text-color);
}

table td, table th {
	border-width: 1.5px;
	border-color: #ffffff;
	border-style: solid;
	padding: 5px;
	padding-top: 7px;
	padding-bottom: 4px;
}

table thead {
	background-color: #c0c0c0;
}



br.larger {
	margin-bottom: 8px;
}

br.large-ish {
	margin-bottom: 3px;
}

div.br-small {
	line-height: 60%;
}



.form {
	margin-top: 28px;
}

.form p {
	margin-top: 0px;
	margin-bottom: 8px;
}

.form p.last {
	margin-bottom: 0px;
}

fieldset {
	margin-top: 16px;
}

fieldset.last {
	margin-bottom: 16px;
}



iframe {
	max-width: 100%;
}



span.extreme {
	font-style: italic;
	font-weight: bold;
	color: #cc0000;
}

span.mono {
	font-family: 'Monaco', monospace;
	font-size: .9em;
}

.commands * pre {
	font-family: monospace;
	font-size: .9em;
	margin-bottom: 0px
}



span.inline-dfn {
	animation-name: inline-dfn-nohover;
	animation-duration: 100ms;
	background-color: transparent;
	text-decoration: underline;
	text-decoration-style: dotted;
}

span.inline-dfn:hover {
	animation-name: inline-dfn-hover;
	animation-duration: 100ms;
	background-color: #dddddd;
	border-radius: 2px;
}


.border {		/* Used if I ever need to add a border to something */
	border-width: 1px;
	border-color: #ffffff;
	border-radius: 2px;
	border-style: solid;
}



div.series-disclaimer * {
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 6px;
}

div.series-disclaimer * * {
	margin-bottom: 0px;
}

div.series-disclaimer :first-child {
	margin-top: 16px;
}

div.series-disclaimer * :first-child {
	margin-top: 0px;
}

div.series-disclaimer :last-child {
	margin-bottom: 16px;
}

div.series-disclaimer * :last-child {
	margin-bottom: 0px;
}
