@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap')

$lenovo-font: 'Montserrat Alternates', sans-serif

$black: rgb(22, 22, 22)
$black-ter: rgb(50, 50, 50)
$black-bis: rgb(80, 80, 80)
$red: rgb(224, 31, 34)
$blue: rgb(74, 159, 222)
$yellow: rgb(219, 202, 116)
$white: rgb( 217, 217, 217)
$dark-grey: rgb(80, 80, 80)

$primary: $red
$link: $red
$warning: $yellow
$success: $blue
$danger: $red
$text: $white
$grey-darker: $dark-grey
$dark: $grey-darker

$background: $black
$scheme-main: $black
$scheme-main-ter: $black-ter
$scheme-main-bis: $black-ter
$body-background-color: $black
$text-strong: $red

$title-family: $lenovo-font
$title-weight: 700

$subtitle-family: $lenovo-font
$subtitle-weight: 400

$control-border-width: 2px
$input-border-color: transparent
$input-shadow: none

@import bulma/bulma.sass